body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.role {
  color: orange;
}

em {
  margin: 5px;
  text-align: left;
  padding: 5px;
}

#main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 5px;
  line-height: 16px;
  margin: 5px;
  text-align: left;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  padding: 5px;
}

.welcome-message {
  font-style: italic;
  font-size: 28px;
  font-weight: 400
  color: #f5ae23;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

.projectimage {
  width: 30%;
}

img {
  width: 100%;
  height: auto;
}

.map {
  width: 100%;
  height: 100%;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
  width: 100%;
  display: block;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 750px) {
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#mapDiv {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
  #education {
    width: 50%;
  }
  #projects{
    width: 50%
  }
  #row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  .education-entry {
    margin: 15px;
    padding: 15px;
  }
  }
